<th:block th:fragment="page(name,kind,group)">
  <script
    type="text/javascript"
    th:src="@{/assets/plugins/comment-widget/commentWidget.min.js?ver={version}(version=${theme.spec.version})}"
  ></script>
  <div id="respond"></div>
  <div th:id="|comment-content-halo-run-${kind}-${name}|"></div>
  <script>
    commentWidget.init(`#comment-content-halo-run-[[${kind}]]-[[${name}]]`, {
      group: "[[${group}]]",
      kind: "[[${kind}]]",
      name: "[[${name}]]",
      size: 10,
      replySize: 10,
      withReplies: true,
      withReplySize: 10,
      useAvatarProvider: true,
      avatarProviderMirror: "https://weavatar.com",
      avatarPolicy: "anonymousUser",
      placeholder: "一句走心评论，胜过千言万语",
    });
  </script>
  <script
    type="text/javascript"
    th:src="@{/assets/plugins/comment-widget/comment-reply.min.js?ver={version}(version=${theme.spec.version})}"
    id="comment-reply"
  ></script>
</th:block>
