<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(content = ~{::content},page_js = null,_title = '未找到页面')}"
>
  <th:block th:fragment="content">
    <div class="mt-16 sm:mt-48 sm:px-8">
      <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative z-10 px-4 lg:px-8">
          <div class="max-w-2xl">
            <img class="cover w-screen md:w-[240px]" th:src="${#theme.assets('/imgs/50.avif')}" alt="" />
            <div class="mt-6 space-y-2 text-zinc-700 dark:text-zinc-400">
              <h1 class="!mb-4 text-2xl font-bold">很抱歉，您访问的页面迷路啦～</h1>
              <p class="text-zinc-500 dark:text-zinc-400">
                它可能去探索星辰大海，也可能在代码丛林里迷了路。别担心，我们帮您找回家的方向：
              </p>
              <ul class="!mt-8 list-disc space-y-2 pl-5 text-zinc-600 dark:text-zinc-400">
                <li>
                  ✨ 点击
                  <a href="/" class="font-bold text-zinc-500 hover:underline">首页</a>
                  ，开启新的探索之旅
                </li>
                <li>🧭 用顶部搜索栏找找你心仪的内容</li>
                <li>📫 若有特别想念的页面，不妨给我留言 “召唤” 它～</li>
              </ul>
              <p>稍等片刻，让我们一起重新点亮这个角落吧 🌟</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</html>

<style>
  #site-main {
    min-height: calc(100vh - 23rem);
  }
</style>
