<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(content = ~{::content},page_js = null,_title = '未找到页面')}"
>
  <th:block th:fragment="content">
    <div class="mt-16 sm:mt-48 sm:px-8">
      <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative z-10 px-4 lg:px-8">
          <div class="max-w-2xl">
            <img class="cover w-screen md:w-[240px]" th:src="${#theme.assets('/imgs/49.avif')}" alt="" />
            <div class="mt-6 space-y-2 text-zinc-700 dark:text-zinc-400">
              <h1 class="!mb-4 text-2xl font-bold">哎呀，看来服务器此刻有点小迷糊～</h1>
              <p class="text-zinc-500 dark:text-zinc-400">
                您访问的页面暂时无法顺利加载，这可能是我们正在进行后台维护，或是突如其来的流量小高峰导致的小插曲。
              </p>
              <p class="font-semibold">别担心，技术小哥已经收到信号，正在快马加鞭处理啦！</p>
              <p>您可以尝试：</p>
              <ul class="!mt-8 list-disc space-y-2 pl-5 text-zinc-600 dark:text-zinc-400">
                <li>🌱 刷新页面再试一次</li>
                <li>🧭 稍后几分钟重新访问</li>
                <li>
                  📫 若问题持续，欢迎通过客服邮箱
                  <a class="font-bold text-zinc-500 hover:underline" href="mailto:service@example.com"
                    >service@example.com</a
                  >
                  告诉我们具体情况
                </li>
              </ul>
              <p>感谢您的耐心等待，我们会尽快让一切恢复正常～ 🌟</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</html>

<style>
  #site-main {
    min-height: calc(100vh - 23rem);
  }
</style>
