<li
  th:fragment="favlink-item(favlink)"
  class="group relative flex flex-col items-start blur-before"
  x-data="{
    isHovering: false,
    mouseX: 0,
    mouseY: 0,
    radius: 0,
    get background() {
      return `radial-gradient(circle ${this.radius}px at ${this.mouseX}px ${this.mouseY}px, black 40%, transparent)`
    },
    handleMouseMove(e) {
      const bounds = e.currentTarget.getBoundingClientRect();
      this.mouseX = e.clientX - bounds.left;
      this.mouseY = e.clientY - bounds.top;
      this.radius = Math.sqrt(bounds.width ** 2 + bounds.height ** 2) / 2;
    }
  }"
  @mouseenter="isHovering = true"
  @mousemove="handleMouseMove($event)"
  @mouseleave="isHovering = false"
>
  <div
    class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
  >
    <img
      alt=""
      loading="lazy"
      width="36"
      height="36"
      decoding="async"
      data-nimg="1"
      class="h-9 w-9 rounded-full"
      style="color: transparent"
      th:src="${favlink.spec.logo}"
    />
  </div>
  <h2 class="mt-6 text-base font-bold text-zinc-800 dark:text-zinc-100">
    <div
      class="absolute -inset-x-4 -inset-y-6 z-10 scale-95 bg-zinc-200/30 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-700/20"
    ></div>
    <a target="_blank" th:href="${favlink.spec.url}">
      <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
      <span class="relative z-10" th:text="${favlink.spec.displayName}"></span>
    </a>
  </h2>
  <p class="relative z-10 mb-6 mt-2 text-sm text-zinc-600 dark:text-zinc-400" th:text="${favlink.spec.description}"></p>
  <p
    class="pointer-events-none relative z-40 mt-auto flex items-center text-sm font-medium text-zinc-400 transition group-hover:-translate-y-0.5 group-hover:text-lime-600 dark:text-zinc-200 dark:group-hover:text-lime-400"
  >
    <span class="mr-2" th:text="${favlink.spec.url}"></span>
    <i class="iconfont icon-open text-sm"></i>
  </p>
  <footer
    x-show="isHovering"
    x-transition
    x-bind:style="`mask-image:${background};opacity:1`"
    class="pointer-events-none absolute -inset-x-4 -inset-y-6 z-30 select-none px-4 py-6 sm:-inset-x-6 sm:rounded-2xl sm:px-6"
  >
    <div
      class="absolute inset-x-px inset-y-px rounded-2xl border border-dashed border-zinc-900/30 dark:border-zinc-100/20"
    ></div>
    <div
      class="flex h-12 w-12 items-center justify-center rounded-full border border-dashed border-zinc-900/20 bg-white dark:border-zinc-100/20 dark:bg-zinc-800"
    >
      <div
        class="h-9 w-9 rounded-full border border-dashed border-zinc-900/40 dark:border-zinc-100/60 dark:bg-zinc-900/20"
      ></div>
    </div>
    <h2
      class="mt-6 text-base font-bold text-zinc-50 [text-shadow:rgb(0,0,0)_-0.5px_0.5px_0px,rgb(0,0,0)_0.5px_0.5px_0px,rgb(0,0,0)_0.5px_-0.5px_0px,rgb(0,0,0)_-0.5px_-0.5px_0px] dark:text-zinc-900 dark:[text-shadow:rgb(255,255,255)_-0.5px_0.5px_0px,rgb(255,255,255)_0.5px_0.5px_0px,rgb(255,255,255)_0.5px_-0.5px_0px,rgb(255,255,255)_-0.5px_-0.5px_0px]"
      th:text="${favlink.spec.displayName}"
    ></h2>
    <p class="mt-2 text-sm text-zinc-600 opacity-50 dark:text-zinc-400" th:text="${favlink.spec.description}"></p>
  </footer>
</li>
